<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
    colors="true">
    <testsuites>
        <testsuite name="StaffimDateTime">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
